<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <%if(userID) { %> <a class="navbar-brand" href="/urls">TinyApp</a> <%}%>
    <%if(!userID) { %> <a class="navbar-brand" href="/login">TinyApp</a> <%}%>
    <!-- <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div
      class="collapse navbar-collapse"
      style="display: flex; flex-direction: row; justify-content: space-between"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>

      <%if(userID) { %>
      <div
        style="
          width: 470px;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
        "
      >
        <span
          style="
            color: rgb(255, 255, 255);
            align-items: center;
            margin-right: 10px;
          "
          >Logged in as: <%= username.email %></span
        >
        <form action="/logout" method="POST">
          <button
            class="btn btn-outline-success"
            style="color: white; border-color: white"
          >
            Logout
          </button>
        </form>
      </div>
      <%} else { %>
      <div style="width: 160px">
        <a href="/login" class="btn btn-outline-primary" style="color: white">
          Login
        </a>
        <a
          href="/register"
          class="btn btn-outline-primary"
          style="margin: 0 3px; color: white"
        >
          Register
        </a>
        <%}%>
      </div>
    </div>
  </nav>
</header>
