<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <div style="width:270px">
      <form class="nav-item nav-link" style="width: 100%;" method="POST" action="/urls/login">
        
        <%if(username) {%>
          <div style= "width: 270px">
          <p class ="navbar-brand" style="color: rgb(40, 40, 40);"  >Logged in As: <%-username%></p>
          <button class="btn btn-success" style="color: rgb(255, 255, 255); border: 1px solid black;">  Logout </button>
        </div>
        <%} else {%>
        <input class="form-control" type="text" name="username" placeholder="username" style="width: 150px; float: left" >
        <button class="btn btn-outline-primary" style=" float: right; color: white">  Login </button>
          <%}%>
        </form>
        </div> 
   
  </nav>

</header>